.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-links{ 
    background-color: white;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-links:hover{
    background-color: rgba(247, 244, 244, 0.822);
}
.sidebar-links img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-links div{
    font-family: Roboto, Arial;
    font-size: 10px;
}